
*
{
	margin:0px;
	padding:0px;
	height:auto;
}


body
{
	
	background-color: #EAF1FB;
	
}

#hhh{

margin:20px auto;
background-repeat:no-repeat;
	//background-image:url("blood hand.png");
	background-size:cover;
	background-color:white;
	width:1100px;
	//height:800px;

}
#img1
{
	display:inline;
	padding:5px 2px 10px 10px;
	vertical-align:middle;
}
#heading {
	background-color:skyblue;
	
}
#hh1
{
	display:inline;
}

ul{

	//position:fixed;
	margin:0px ;
	padding=0px;
	
}

ul li{
	background-color:purple;
	border:1px solid white;
	width:181.3333px;
	height:40px;
	line-height:40px;
	float:left;
	margin:1px auto;
	text-align:center;
	font-size:25px;
	text-decoration:none;
	list-style:none;
	
}
ul li a {
	color:white;
	text-decoration:none;
	display:block;
}
ul li a:hover{
	background-color:black;
	
	
}
#abcd
{

}
#pp{
float:left;
//margin-left:500px;
	
}
#qrt
{
	background-color:black;
	height:20px;
}
#qrt tr 
{
	color:white;
}