body
{
background-color: rgba(112, 99, 99, 0.013);
}
#kas
{
    height: 400px;
    width: 500px;
    margin: 2px;
    padding: 2px;
    opacity: 0.15;
    
}
#lion
{
    height: 400px;
    width: 600px;
    margin: 2px;
    padding: 2px;
}

  ul.firstline{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navigator{
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  footer
  {
    background-color: blueviolet ;
  }