body {
    margin: 0px;
    padding: 0px;
}

.game td {
    width: 100px;
    height: 100px;
    border: solid 5px black;
    text-align: center;
    font-size: 40pt;
    border-radius: 10px;
    box-sizing: border-box;
}

.game td:hover {
    background-color: #fff;
    cursor: pointer;
}

.game {
    background: #efefef;
    border: solid 10px #333;
}

.game .game-title {
    background: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.game .player {
    float: left;
    text-align: center;
    width: 25%;
}

.game .player .selected {
    border-bottom: solid 4px #00fa9a;
}

.tictactoe-board {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
}

.tictactoe-board table {
    float: left;
    width: 50%;
}

.tictactoe-board-score1 {
    float: left;
    width: 20%;
}

.tictactoe-board-score2 {
    float: left;
    width: 20%;
}

.clear {
    clear: both;
}