body{
	background: url('img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     font-family: "Microsoft JhengHei Light",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: "Microsoft JhengHei Light",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
p {
    font-size: .85em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
     border-color: #999;
}

/*Navbar  ****************************/
.heading{
  color: rgba(0,0,0,0.5);
  font-family: "Segoe UI Black", Georgia, Serif;
  text-transform: none;
}
#nav{
  background-color: #ffffff;
  margin-bottom: 50px;
}
#nav_wrapper{
  width: auto;
  margin: 0 auto;
  text-align: right;
}
#nav ul{
  list-style-type: none;
  padding: 0 70px 0 0;
  margin: 0;
  position: relative;
  text-align: center;
}


#nav li .search{
  margin-left: 50px;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #4caf50;
}
#nav li .search:hover{
  margin-left: 50px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgba(0,0,0,0.05);
}


#nav li button{
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.05);
}
#nav ul li{
  display: inline-block;
}
#nav ul .login{
  color: #fff;
  float: right;
  background-color: #b3d5ac;
}
#nav ul .login:hover{
  background-color: #4caf50 ;
}
#nav ul .logout{
  color: #fff;
  float: right;
  background-color: #ff8080;
}
#nav ul .logout:hover{
  background-color: #ff3333 ;
}
#nav ul li .row:hover{
  background-color: #ffffff; 
  text-align: left;

}
#nav ul li .row{
  text-align: left;
} 

#nav ul li a,visted{
  color: #4caf50;
  display: block;
  padding: 15px;
  text-decoration: none;
}
#nav ul li a:hover{
    color: #222;
    text-decoration: none;
}

#nav ul li:hover ul{
  display: block;
}

#nav ul ul{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
}
#nav ul ul li{
  display: block;
}
#nav ul ul li a,visited{
  color: #4caf50;
}
#nav ul ul li a:hover{
  color: #222; 
}
#nav ul li a{
 color: #555;
}


/*consult Box***********************************/

  #box-cont{
    margin: 0px 300px 50px 300px;
    background: #fff;
    background: rgba(255,255,255,0.9);
     }
   #box-cont textarea{
    margin: 10px 50px 10px 110px;
   }
   #box-cont select{
      margin: 10px 50px 0px 110px;
      padding: 10px 60px 10px 5px;
   }
   #box-cont img{
   	width: 1233px;
   	height: 400px;
   	padding: 0px 0px 0px 0px;
   }  
   #box-cont p{
   	padding: 20px;
   	text-align: center;
   	font-size: 15px;
   } 
   #box-cont .btn{
    margin: 10px 50px 0px 110px;
    color: #fff;
    padding: 10px 87px;
    background-color: #4caf50;;
    text-decoration: none;
}

/*post Box**********************************/
.box7.Health{
display: inline-block;
}
   #box-cont-7{
   
   margin: 0px 50px 40px 50px;
     background: rgba(255,255,255,0.9);
     padding: 20px 0px 0px 20px; 
	 	display: inline-block;
   }
  
   .box5{
     margin: 0px 50px 40px 50px;
     background: rgba(255,255,255,0.9);
     padding: 20px 0px 0px 20px; 
    }
    .box5 .health-studies{
      display: inline-block;
    }
    #box-cont-5 img{
      width: 85px;
      height: 85px;
      padding: 10px;
      box-shadow: 0px 0px 30px #555555;
    }
    #box-cont-52 .h3s{
      width: 400px;
      margin-left: 20px;
      margin-bottom: 10px;
      background: #4caf50;;
      height: 150px;
      padding: 0px 20px;
    }     
#box-cont-92.h6s{
	background-color: "GRAY";
    border:solid;
	padding: 10px 10px;
	margin-left:20 px;
	margin-bottom:10px;
	
	background:#4caf50;
	color:#FF0000;
}

/*First box************************/
#box-cont1{
    margin: 0px 50px 50px 50px;
    background: #fff;
    background: rgba(255,255,255,0.9);
     }

   #box-cont1 img{
    width: 1233px;
    height: 400px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 30px #999999;
   }  
   #box-cont1 p{
    padding: 20px;
    text-align: center;
    font-size: 15px;
   } 

/*Second BOx**********************/
   
   .box2{
   	 margin: 0px 0px 40px 30px;
   	}
    .box2 .page-heading{
      margin: 0px 50px 20px 20px;
      background: rgba(255,255,255,0.9);
      padding: 10px;
    }
   .box2 .health{
   	display: inline-block;
   }
   #box-cont-2 {
    padding: 0px 0px 0px 0px;
    background: #fff;
    background: rgba(255,255,255,0.9);
     }
  .health{
  	 margin: 0px 3px 30px 20px;
   	 width: 225px;
   	 height: 420px;
   }
   .health img{
   	box-shadow: 0px 0px 30px #999999;
   	width: 205px;
   	height: 200px;
   	padding: 10px;
   }
   .health .h3s p,
   .health .h3s h2{
   	padding: 0px;
   	text-align: center;
   }
   .health .btns{
   	padding-left: 10px;
   }
   .health .btns a{
   	 background-color: #4caf50;
   	 padding: 6px 10px;
     text-decoration: none;
     color: #fff;
   }
   .health .btns a:hover{
     background-color: #ffffff;
     padding: 6px 10px;
     text-decoration: none;
     color: #4caf50;
     border: 0.5px solid #4caf50;
   }

/*third Box**********************************/  

  
   .box3{
   	 margin: 0px 50px 40px 50px;
   	 background: rgba(255,255,255,0.9);
   	 padding: 10px 0px 50px 0px; 
   	}
    .box3 .page-heading{
      margin-bottom: 30px;
    }
    .box3 .h3s a{
     background-color: #6699ff;
     padding: 6px 15px;
     text-decoration: none;
     color: #fff;
    }
    .box3 .h3s a:hover{
     background-color: #ffffff;
     padding: 6px 15px;
     text-decoration: none;
     color: #6699ff;
     border: 0.5px solid #6699ff;
    }
	

   .box3 .health-tips{
   	display: inline-block;
   }
   #box-cont-3 {
    padding: 0px 0px 0px 0px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 30px #e0e0e0;
     }
  .health-tips{
  	 margin: 0px 3px 20px 10px;
   	 width: 393px;
   	 height: 380px;
   }
   .health-tips img{
   	width: 393px;
   	height: 200px;
   	padding: 0px;
   }
   .health-tips .h3s p,
   .health-tips .h3s h2{
   	padding: 0px;
   	text-align: center;
   }
   .health-tips .btns{
   	padding-left: 15%;
   }

/*third Box**********************************/  
   
  
   .box4{
     margin: 0px 50px 40px 50px;
     background: rgba(255,255,255,0.9);
     padding: 25px 0px 0px 20px; 
    }
    .box4 .health-studies{
      display: inline-block;
    }
    #box-cont-4 img{
      width: 400px;
      height: 260px;
      padding: 10px;
      box-shadow: 0px 0px 30px #555555;
    }
    .health-studies .h3s{
      width: 720px;
      height: auto;
      padding: 20px;
    }     




/*Footer*************************************/ 

footer {
    background: #fff;
    margin: 0px 50px 0px 50px;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    text-align: center;
    padding: 50px;
}
#box-cont 10{
width:1200px;


}

#box-cont 10 img{
width:1200px;
height : 450px;
padding: 0px 5px 0px 5 px;
box-shadow: 0px 0px 30px #999999;

}
#box-cont10 p {
padding : 25px;
text-align: center;
font-size: 15px;
}

