<IfModule mod_rewrite.c>

  
  RewriteEngine on
  
  # send request via index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteCond $1 !^(index\.php|images|uploads|robots\.txt)
  RewriteRule ^(.*)$ index.php/$1 [L] 

</IfModule>
























